version: '3.1'

services:
  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}

  # app:
  #   build:
  #     context: .
  #     dockerfile: DockerfileDev
  #   volumes:
  #     - .:/app
  #   environment:
  #     PORT: ${PORT}
  #     DATABASE_URL: ${DATABASE_URL}
  #     JWT_SECRET: ${JWT_SECRET}
  #   ports:
  #     - ${PORT}:3000